.input-number,
input[type='number'] {
	width:3em;
}
#calendar_options .inside,
#event_options .inside {
	padding:0;
}


/* calendar */
.date-sheet {
	position:relative;
	float:left;
	background:#ffffff;
	box-shadow:1px 1px 5px rgba(0,0,0,0.5);
	padding:0;
	text-align:center;
	width:4em;
}
.date-sheet .month {
	padding:0.125em;
	font-size:0.8em;
	color:#fff;
	background-color:#990000;
	font-weight:700;
}
.date-sheet .day {
	padding:0.125em;
	font-size:1.5em;
	color:#000;
	font-weight:700;
}
.date-sheet .year {
	padding:0.125em;
	font-size:1.0em;
	color:#666;
	background-color:#dfdfdf;
}
.date-col .time {
	position:relative;
	float:left;
	margin-left:0.5em;
	padding:0.5em;
	font-size:1.0em;
	color:#666;
	background:#ffffff;
	box-shadow:1px 1px 5px rgba(0,0,0,0.5);
}